.headerOut {
    display: flex;
    height: 600px;
}
.header {
    height: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    max-height: 600px;
    width: 100%;
    justify-content: space-between;
}
.header > .title {
    margin-top: 128px;
}
.header > .image > img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.search {
    display: flex;
}
.search > * {
    margin-right: 8px;
}
.subtitle {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #82786a;
    margin-bottom: 32px;
}
.filterButton {
    border-radius: 50px !important;
    min-width: 55px !important;
}
.filterButton > span {
    margin: 0;
}
@media screen and (max-width: 1200px) {
    .title > h1 {
        font-size: 48px;
    }
    .image > img {
        max-width: 700px;
        max-height: 700px;
    }
}
@media screen and (max-width: 1100px) {
    .title > h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 1000px) {
    .image > img {
        max-width: 600px;
        max-height: 600px;
    }
}
@media screen and (max-width: 900px) {
    .image > img {
        max-width: 500px;
        max-height: 500px;
    }
}
@media screen and (max-width: 750px) {
    .image {
        margin-top: 20px;
    }
    .image > img {
        max-width: 550px;
    }
    .header {
        height: 320px;
        flex-direction: column;
        padding: 12px;
    }
}
@media screen and (max-width: 560px) {
    .image {
        display: none;
    }
    .header {
        padding: 12px;
    }
}
