.slick-dots {
    top: 375px;
    display: flex !important;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin-left: 0;
    list-style: none;
    list-style-type: none;
    text-align: center;
}
.slick-dots > li {
    margin-right: 8px !important;
    margin-left: 0px !important;
    width: 58px !important;
    height: 58px !important;
}
.slick-dots > .slick-active {
    border: 2px solid #000;
}
.imgDot {
    margin-top: 16px;
    margin-right: 8px;
    border: 2px solid #000;
    width: 58px;
    height: 58px;
}
.mainImg {
    width: 532px;
    height: 355px;
}
@media screen and (max-width: 1000px) {
    .mainImg {
        width: 420px;
        height: 280px;
    }
}
@media screen and (max-width: 850px) {
    .mainImg {
        width: 300px;
        height: 220px;
    }
}
@media screen and (max-width: 850px) {
    .mainImg {
        width: 270px;
        height: 200px;
    }
}
